<html>
{% load staticfiles %}

  <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">

  <!-- Styling for your grid blocks -->
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/default.css' %}" />

<!-- include jQuery library -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61935018-1', 'auto');
  ga('send', 'pageview');

</script>

<body style="background-color: rgb(255, 255, 255);">

  <div id="gamheader">
    <div class="nav" id="header-nav">
      <ul>
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/shop"><span>Shop</span></a></li>
        <li><a href="/cart"><div id="totalcart">{% if totalNcart > 0 %}{{totalNcart}}&nbsp{% endif %}</div><span class="shopping-cart"></span></a></li>
      </ul>
    </div>
  </div>
  <div id="information">
    <div class="info-col" style="min-height: 310px;">
      <div id="currentevents">
        <p>
          <span class="myinfo">{{details.product.name}}</span>
        </p>
        <div class="blog">
          
          <h3><img src="{% static 'main/images' %}{{details.product.photo.url}}" width="240"  ></h3>

        </div>
      </div>
    </div>
    <div class="info-col info-col-center" style="min-height: 310px;">  
      <div id="currentevents">
        <p>
          <span class="myinfo">Description</span>
        </p>
        <div class="blog">
          <h3>{{details.description}}</h3>
            <select id="coffeeQty">
              <option value="1" selected>Quantity: 1</option>
              <option value="2">Quantity: 2</option>
              <option value="3">Quantity: 3</option>
              <option value="4">Quantity: 4</option>
              <option value="5">Quantity: 5</option>
            </select>
          <p>Price: ${{ details.product.price_in_dollars }}</p>
            <a href="/add_to_cart/{{details.product.id}}/{{1}}" class="button btn-cart width:51px;">Add to Cart</a>
        </div>
      </div>
    </div>

  </div>

  <script src="{% static 'main/anim.js' %}"></script>

</body>
</html>